PORT=

DB_EMPLOYEES_SERVER=
DB_EMPLOYEES_USER=
DB_EMPLOYEES_PASSWORD=
DB_EMPLOYEES_DATABASE=
DB_EMPLOYEES_SP=

DB_TRAVAUX_SERVER=
DB_TRAVAUX_USER=
DB_TRAVAUX_PASSWORD=
DB_TRAVAUX_DATABASE=

JWT_SECRET=

# Base de test (copie locale)
# DB_TRAVAUX_SERVER=localhost\SQLEXPRESS
# DB_TRAVAUX_USER=sa
# DB_TRAVAUX_PASSWORD=

# Base de production (a activer uniquement avec l'accord du tuteur)
# DB_TRAVAUX_SERVER=10.165.150.20\sqlexpress
# DB_TRAVAUX_USER=
# DB_TRAVAUX_PASSWORD=